body {
    background-color: #1e1e1e;
}

path:nth-child(1){
    stroke-dasharray: 96.77400207519531;
    stroke-dashoffset: 96.77400207519531;
    animation: garis 2s ease-in-out forwards , fill 0.5s linear forwards 0.4s;
    }
    path:nth-child(2){
    stroke-dasharray: 80.56116485595703;
    stroke-dashoffset: 80.56116485595703;
    animation: garis 2s ease-in-out forwards 0.3s, fill 0.5s linear forwards 0.8s;
    }
    path:nth-child(3){
    stroke-dasharray: 45.6183967590332;
    stroke-dashoffset: 45.6183967590332;
    animation: garis 2s ease-in-out forwards 0.6s, fill 0.5s linear forwards 1.2s;
    }
    path:nth-child(4){
    stroke-dasharray: 45.6183967590332;
    stroke-dashoffset: 45.6183967590332;
    animation: garis 2s ease-in-out forwards 0.9s, fill 0.5s linear forwards 1.6s;
    }
    path:nth-child(5){
    stroke-dasharray: 69.26824188232422;
    stroke-dashoffset: 69.26824188232422;
    animation: garis 2s ease-in-out forwards 1.1s, fill 0.5s linear forwards 2s;
    }
    path:nth-child(6){
    stroke-dasharray: 23.78535270690918;
    stroke-dashoffset: 23.78535270690918;
    animation: garis 2s ease-in-out forwards 1.4s, fill 0.5s linear forwards 2.4s;
    }
    path:nth-child(7){
    stroke-dasharray: 43.78960418701172;
    stroke-dashoffset: 43.78960418701172;
    animation: garis 2s ease-in-out forwards 1.7s, fill 0.5s linear forwards 2.8s;
    }
    path:nth-child(8){
    stroke-dasharray: 20.660070419311523;
    stroke-dashoffset: 20.660070419311523;
    animation: garis 2s ease-in-out forwards 2s, fill 0.5s linear forwards 3.2s;
    }
    path:nth-child(9){
    stroke-dasharray: 111.93877410888672;
    stroke-dashoffset: 111.93877410888672;
    animation: garis 2s ease-in-out forwards 2.3s, fill 0.5s linear forwards 3.6s;
    }
    path:nth-child(10){
    stroke-dasharray: 70.34820556640625;
    stroke-dashoffset: 70.34820556640625;
    animation: garis 2s ease-in-out forwards 2.6s, fill 0.5s linear forwards 4s;
    }
    path:nth-child(11){
    stroke-dasharray: 79.41407775878906;
    stroke-dashoffset: 79.41407775878906;
    animation: garis 2s ease-in-out forwards 2.9s, fill 0.5s linear forwards 4.2s;
    }
    path:nth-child(12){
    stroke-dasharray: 72.54339599609375;
    stroke-dashoffset: 72.54339599609375;
    animation: garis 2s ease-in-out forwards 3s, fill 0.5s linear forwards 4.6s;
    }
    path:nth-child(13){
    stroke-dasharray: 79.41409301757812;
    stroke-dashoffset: 79.41409301757812;
    animation: garis 2s ease-in-out forwards 3.3s, fill 0.5s linear forwards 5s;
    }
    path:nth-child(14){
    stroke-dasharray: 72.54340362548828;
    stroke-dashoffset: 72.54340362548828;
    animation: garis 2s ease-in-out forwards 3.6s, fill 0.5s linear forwards 5.4s;
    }
    path:nth-child(15){
    stroke-dasharray: 83.7487564086914;
    stroke-dashoffset: 83.7487564086914;
    animation: garis 2s ease-in-out forwards 3.9s, fill 0.5s linear forwards 5.8s;
    }
    path:nth-child(16){
    stroke-dasharray: 50.090885162353516;
    stroke-dashoffset: 50.090885162353516;
    animation: garis 2s ease-in-out forwards 4.2s, fill 0.5s linear forwards 6.2s;
    }

    @keyframes garis {
        to{
            stroke-dashoffset: 0%;
        }
    }
    @keyframes fill {
        from{
            fill: transparent;
        }
        to{
            fill: #e3e3e3;
        }
    }